<!-- header -->
<header class="site-header mo-left header navstyle1">
    <!-- main header -->
    <div class="sticky-header main-bar-wraper header-curve navbar-expand-lg">
        <div class="main-bar clearfix bg-primary">
            <div class="container clearfix">
                <!-- website logo -->
                <div class="logo-header mostion">
                    <a href="/"><img src="/images/actigas.png" alt=""></a>
                </div>
                <!-- nav toggle button -->
                <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
                    <div class="logo-header d-md-block d-lg-none">
                        <a href="/"><img src="/images/actigas.png" alt=""></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="homedemo">
                            <a href="/">Inicio</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Instalaciones<i class="fa fa-chevron-down"></i></a>
                            <ul class="sub-menu tab-content">
                                <li>
                                    <a href="/contacto/instalacion-de-gas-natural">Gas natural</a>
                                </li>
                                <li>
                                    <a href="/contacto/impermeabilizaciones">Impermeabilizaciones</a>
                                </li>
                                <li>
                                    <a href="/contacto/plomeria-profesional">Plomeria</a>
                                </li>
                                <li>
                                    <a href="/contacto/instalacion-de-calentadores">Calentadores</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Mantenimiento y Reparación<i class="fa fa-chevron-down"></i></a>
                            <ul class="sub-menu tab-content">
                                <li>
                                    <a href="/contacto/mantenimiento-y-reparacion-de-lavadoras">Lavadoras</a>
                                </li>
                                <li>
                                    <a href="/contacto/mantenimiento-y-reparacion-de-secadoras">Secadoras</a>
                                </li>
                                <li>
                                    <a href="/contacto/mantenimiento-y-reparacion-de-calderas">Calderas</a>
                                </li>
                                <li>
                                    <a href="/contacto/mantenimiento-y-reparacion-de-neveras">Neveras</a>
                                </li>
                                <li>
                                    <a href="/contacto/mantenimiento-y-reparacion-de-estufas">Estufas</a>
                                </li>
                            </ul>
                        </li>
                        <li class="homedemo">
                            <a href="/contacto/servicios-profesionales">Contacto</a>
                        </li>
                    </ul>
                    <div class="dlab-social-icon">
                        <ul>
                            <li><a class="site-button facebook sharp-sm fa fa-facebook" href="javascript:void(0);"></a></li>
                            <li><a class="site-button twitter sharp-sm fa fa-twitter" href="javascript:void(0);"></a></li>
                            <li><a class="site-button linkedin sharp-sm fa fa-linkedin" href="javascript:void(0);"></a></li>
                            <li><a class="site-button instagram sharp-sm fa fa-instagram" href="javascript:void(0);"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main header END -->
</header>
<!-- header END -->
