{% extends './includes/layout.twig' %}
{% block title %}Welcome to Dynamic Framework{% endblock %}
{% block body %}
    <h1>Welcome to <b>Dynamic Framework</b></h1>
    <p>This is a welcome page for Dynamic Framework. Read more in <a href="https://github.com/devalexanderdaza/dynamic_framework" target="_blank">https://github.com/devalexanderdaza/dynamic_framework</a></p>
    {% if successMessage %}
        <p>{{ successMessage }}</p>
    {% endif %}
{% endblock %}